/*********************************************************/
/* Lists */
/*********************************************************/

/*********Mobile First**********/

.list-tool {
  list-style: none;
  padding: 0;
}

.li-tool {
  margin-right: 1em;
}

.link-generic {
  list-style: none;
}
