/*===============*/
/*Section General*/
/*===============*/


/*********Mobile First**********/
/*Section General I plan on making my primary section tool
It is going to have plug ins in order to customize contents
whether they be a form or something else like an image.
*/

.s-g {
    min-height: 300px
}

/*Creates the settings needed for a css image to cover the
entire section
*/

.s-g_img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*specific image name
if multiple images are needed then you can edit the image
or change the image based on media queries
*/

.s-g-i-dog {
    background-image: url('https://static.pexels.com/photos/59523/pexels-photo-59523.jpeg');
    /*  background-attachment: fixed;*/
}

/*example with fixed background attachment*/

.s-g-i-cat {
    background-image: url('https://static.pexels.com/photos/238140/pexels-photo-238140.jpeg');
    background-attachment: fixed;
}

.s-g-i-pepper {
  background-image: url('https://static.pexels.com/photos/63596/fruit-pepper-vegetable-vegetables-63596.jpeg');
  background-attachment: fixed;
}

/*Centeral items*/
/*with this added class you can add text to your section
does not create a grid only centers the items idealy only have one item
*/

.s-g_c-itm {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Multiple Items*/
/*Check out the 3 article section I may incorporate
that into this*/



/*********Tablet Second**********/

@media screen and (min-width: 650px) {
    .s-g {
        min-height: 450px;
    }
}

/*********Desktop Third**********/

@media screen and (min-width: 1000px){
    .s-g {
        min-height: 500px;
    }

    /*s-g-grale sets a limit on the width of the
    to provide margins on each side*/
    .s-g-grale {
        max-width: 1300px;
        margin: auto
    }
}

/*********Mobile First**********/

.s-g_m-itm {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.s-g_m-itm_a {
    margin: 1em;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 0 2em 1em 2em;
    width: 320px;

}

/*********Tablet Second**********/

@media screen and (min-width: 650px) {
    .s-g_m-itm_a {
        margin-top: 1em;
        max-width: 350px;

    }

    .s-g_m-itm {
        width: 100%;
        flex-flow: row nowrap;
        margin: auto;
/*        justify-content: space-between;*/
        align-items: center;
        align-content: center;
    }
}


/*********Desktop Third**********/

@media screen and (min-width: 1000px){



}

/*********Mobile First**********/
/*section document*/
.s-d {
  padding: 1em;
  max-width: 1000px;
  min-height: 600px;
}

/*********Desktop Third**********/

@media screen and (min-width: 1000px){
    .s-d {
      margin: 0 3em 0 3em;
      margin: auto;
      min-height: 700px;
    }
}
