/******************************************************/
/* Buttons */
/******************************************************/

.btn-sml {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
  padding: 5px 5px;
  border-radius: 3px;
  border: none;
  display: inline-block;
  cursor: pointer;
  margin: 3px;
}

.btn-med {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  padding: 5px 12px;
  border-radius: 5px;
  border: none;
  display: inline-block;
  cursor: pointer;
  margin: 5px;
}

.btn-lrg {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-decoration: none;
  padding: 7px 15px;
  border-radius: 6px;
  border: none;
  display: inline-block;
  cursor: pointer;
  margin: 8px;
}

.btn-ext-lrg {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  font-size: 80px;
  text-decoration: none;
  padding: 10px 17px;
  border-radius: 7px;
  border: none;
  display: inline-block;
  cursor: pointer;
  margin: 10px;
}

  .btn-sml:hover,
  .btn-med:hover,
  .btn-lrg:hover,
  .btn-ext-lrg:hover {
    opacity: .7;
    transition: all 300ms ease;
  }


/******************************************************/
/* Borders */
/******************************************************/

.border-blk { border: 3px solid #000;}

.border-flm { border: 3px solid #E55812;}

.border-yg  { border: 3px solid #95C623;}

.border-djg { border: 3px solid #0E4749;}

.border-dg  { border: 3px solid #002626;}

.border-eb  { border: 3px solid #5F634F;}

.border-pc  { border: 3px solid #9BC4CB;}

.border-sb  { border: 3px solid #3E7CB1;}

.border-pt  { border: 3px solid #E6E8E6;}







