

.bs-alert {
  /*Pox Model*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 300px;
  margin: .5em 0;

  // Related Selectors
  &--close {
    /*Positioning*/
      /*Box-model*/
      /*Visual*/
      /*Misc*/
    height: 50px;
    width: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.6);
    transition: background-color 300ms ease;
    cursor: pointer;
    //Pseudo Selectors/Elements
    &:before {
      /*Positioning*/
      position: absolute;
      z-index: $zi-0040;

      /*Box-model*/
      height: 5px;
      width: 45px;

      /*Visual*/
      background-color: var(--white);

      /*Misc*/
      content: " ";
      transform: rotate(45deg);
    }

    &:after {
      /*Positioning*/
      /*Box-model*/
      /*Visual*/
      /*Misc*/
      content: " ";
      height: 5px;
      width: 45px;
      position: absolute;
      background-color: var(--white);
      z-index: $zi-0040;
      transform: rotate(135deg);
    }

    &:hover {
      background-color: rgba(0,0,0,.8);
    }
  }

  &--msg {
    padding: 0 1em;
    // color: var(--red);
    font-family: $s-srf2;
    font-weight: 700;
    font-size: $mid;
  }

  &--container {
    position: absolute;
    bottom: 2em;
    right: 2em;
  }
}