.bs-card {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: var(--white);
    &--container {
        border-radius: 0 0 10px 10px;
    }
    &--img {
        max-width: 100%;
        border-radius: 10px 10px 0 0;
        &-container {
            width: 300px;
            height: 200px;
        }
    }
    &--body {
        padding: .5rem 1rem;
    }
    &--hdr {
        background-color: var(--grey2);
        color: var(--black);
        padding: .5rem 1rem;
    }
    &--ftr {
        padding: .5rem 1rem;
        border-radius: 0 0 10px 10px;
        background-color: var(--grey1);
    }
}

.bs-media {
	min-width: 300px;
	max-width: 650px;
	padding: .5rem;
	margin: 1em;
	display: block;
	font-family: $s-srf;
	text-decoration: none;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	&:hover {
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}
	&--body {
		margin: 0;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start; 
	 }
	 &--img {
		height: 120px;
	 }
	 &--cnt {
		margin-left: 1em;
	 }
	 &--heading {
		margin-top: 0;
		margin-bottom: .5em;
		font-family: $s-srf2;
	 }
	 &--date {
		font-size: $sml;
		color: $dark;
	 }
	 &--txt {
		margin-bottom: 0;
	 }
	 &--ftr {
		width: 100%;
		padding: 1em;
		background-color: var(--grey);
	 }
}