.bs-card {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: var(--white);
    &--container {
        border-radius: 0 0 10px 10px;
    }
    &--img {
        max-width: 100%;
        border-radius: 10px 10px 0 0;
        &-container {
            width: 300px;
            height: 200px;
        }
    }
    &--body {
        padding: .5rem 1rem;
    }
    &--hdr {
        background-color: var(--grey2);
        color: var(--black);
        padding: .5rem 1rem;
    }
    &--ftr {
        padding: .5rem 1rem;
        border-radius: 0 0 10px 10px;
        background-color: var(--grey1);
    }
}

.bs-img {
    width: 100%;
    &--container {
        width: 100%;
        height: auto;
    }
}

.bs-media {
	min-width: 300px;
	max-width: 650px;
	text-decoration: none;
	font-family: $s-srf;
	margin: 1em;
	display: block;
	&--body {
		margin: 0;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start; 
	 }
	 &--img {
		 height: 120px;
		 width: 120px;
	 }
	 &--cnt {
		 margin-left: 1em;
	 }
	 &--heading {
		 margin-top: 0;
		 margin-bottom: .5em;
		 font-family: $s-srf2;
	 }
	 &--date {
		 font-size: $sml;
		 color: $dark;
	 }
	 &--txt {
		 margin-bottom: 0;
	 }
	 &--ftr {
		 width: 100%;
		 padding: 1em;
		 background-color: var(--grey3);
	 }
}