/*
* Beautiful Site Components
*
* Components are clusters of elements that form a larger 
* structure on the page.
*
*/

/***********************************************************
* Forms
***********************************************************/
@mixin form () {
  padding: 1em;
}

.bs-form__responsive {@include form();}

.bs-form__sml {
  @include form();
  max-width: 320px;
}

.bs-form__mid {
  @include form();
  max-width: 540px;
}

.bs-form__lrg {
  @include form();
  max-width: 800px;
}


.bs-form--set {
  margin: 1em 0;
  &__align-right {
    @extend .bs-form--set;
    text-align: right;
  }
  &__align-left {
    @extend .bs-form--set;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


/***********************************************************
* Panel Card
***********************************************************/

.bs-shadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.bs-c__panel {
  margin: .5rem;
  width: 300px;
  background-color: white;
}
.bs-c--img {
  display: block;
  max-width: 100%;
}
.bs-c--video {
  display: block;
  max-width: 100%;
}
.bs-c--img-cnt {
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bs-c--body {
  background-color: var();
  padding: .5rem 1rem;
}
.bs-c--hdr {
  background-color: var(--grey2);
  color: var(--opac);
  padding: .5rem 1rem;
}
.bs-c--ftr {
  padding: .5rem 1rem;
  background-color: var(--grey2);
}

/***********************************************************
* Media 
***********************************************************/

.bs-media {
  /* Box-Model */
  display: block;
  min-width: 300px;
	max-width: 650px;
	padding: .5rem;
	margin: 1em;

  /*Typography*/
	font-family: $s-srf;
  text-decoration: none;
  
}
.bs-media--body {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start; 
  margin: 0;
}
.bs-media--img {
  display: block;
  height: 120px;
}
.bs-media--cnt {margin-left: 1em;}
.bs-media--heading {
  margin-top: 0;
  margin-bottom: .5em;
  font-family: $s-srf2;
}
.bs-media--date {
  font-size: $sml;
  color: $dark;
}
.bs-media--txt {margin-bottom: 0;}
.bs-media--ftr {
  width: 100%;
  padding: 1em;
  background-color: var(--grey);
}

/***********************************************************
* Display Card
***********************************************************/




/***********************************************************
* Documentation Navigation
***********************************************************/

.bs-menu__sb {
  padding: 0;
  margin: 0 auto;
  list-style: none;  
}
.bs-menu__sb--title {
  display: block;
  font-family: $s-srf2;
}
.bs-menu__sb--item {
  @include effect;
  padding: .5em;
  display: block;
  font-family: $s-srf2;
  background-color: var(--grey);
  border-bottom: 2px solid var(--grey2);
}

.bs-menu__sb--sub-item {
  @include effect;
  padding-left: 1em;
  height: 1.5em;
  display: flex;
  align-items: center;
  background-color: var(--grey2);

  font-family: $s-srf2;
  text-decoration: none;
}


// Option 2 collapsable menu

.bs-accord {
  padding: 0;
  list-style: none;
}

.bs-accord--cont {}
.bs-accord--heading {
  padding: .5em;
  background-color: var(--grey);
  border-bottom: 2px solid var(--grey2);
  font-family: $s-srf2;
  font-size: $mid;
  cursor: pointer;
  @include effect;
}
.bs-accord--heading:hover {
  background-color: var(--grey4);
}
.bs-accord--content {
  overflow: hidden;
  background-color: var(--grey2);
  @include effect;
}

.bs-accord--content.collapsed > .bs-accord--item {
  height: 0;
}

.bs-accord--item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 2.2em;
  padding-left: 1em;
  overflow: hidden;
  font-family: $s-srf;
  font-size: $sml;
  text-decoration: none;
  @include effect();
}
.bs-accord--item:hover {
  text-decoration: underline;
  background-color: var(--grey1);
}