/*
* Beautiful Site Elements
*
* Elements are simple and reusable pieces of code that are  
* commonly used in BS components. 
*
* They can be used in any location or area.
*/

/***********************************************************
* Buttons
***********************************************************/

// template mixin
@mixin btn () {
  /*box-model*/
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .5em 1.75em;
  
  /*Typographic*/
  font-size: $sml;
  font-family: $s-srf;
  font-weight: 700;
  text-decoration: none;
  color: var(--black);

  /*Visual*/
  background-color: var(--grey1);
  border: none;
  border-radius: .1em;
  
  /*Misc*/
  transition-property: background-color, color;
  cursor: pointer;

  //includes
  @include effect(250ms);
};

.bs-btn {
  @include btn;
  min-width: 100px;
}

.bs-btn__ico {
  @include btn;
  padding: 8.5px;
}

.bs-btn__lng {
  @include btn;
  min-width: 10em;
}

.bs-btn__ful {
  @include btn;
  width: 100%;
}

.bs-btn--cont {padding: .2em;}

/***********************************************************
* Links
***********************************************************/

//template mixin
@mixin lnk () {
  text-decoration: none;
  cursor: pointer;
}

.bs-lnk__hed {
  @include lnk();
  color: inherit;
}

.bs-lnk__wrp {
  @include lnk();
}

.bs-lnk__txt {
  @include lnk();
  color: var(--opac);
  text-decoration: underline;
}

/***********************************************************
* Inputs
***********************************************************/

@mixin ipt (){
  border: 1px solid var(--grey7);
  // border: 0;
  border-radius: 3px;
  font-family: $s-srf2;
  color: var(--opac);
  background-color:#fafafa;
}

@mixin ipt__hid () {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 50%;
}

.bs-ipt__txt {
  @include ipt;
  padding: .5em;
  transition: all 300ms ease;
  width: 11em;

  &:focus {
    outline: 0;
    background-color: #eaeaea;
  }

  &__full {
    @extend .bs-ipt__txt;
    width: 100%;
  }
}

.bs-ipt__area {
  @include ipt;
  width: 100%;
  padding: .5em;
  resize: none;
  display:block;
  overflow: none;
  &__sml {
    @extend .bs-ipt__area;
    height: 5em;
  }
  &__mid {
    height: 10em;
    @extend .bs-ipt__area;
  }
  &__lrg {
    height: 15em;
    @extend .bs-ipt__area;
  }
}

.bs-ipt__radio {
  @include ipt__hid;
  &:checked + .bs-lbl__radio:after {
      content: "";
      position: absolute;
      display: inline-block;
      height: 12px;
      width: 12px;
      background-color: var(--grey3);
      border-radius: 50px;
  }
}

.bs-ipt__checkbox {
  @include ipt__hid;
  &:checked + .bs-lbl__checkbox:after {
    content: "";
    position: absolute;
    display: inline-block;
    height: 12px;
    width: 12px;
    background-color: var(--grey3);
    @include effect(1000);
  }
}

.bs-ipt__menu--sb {
  @include ipt__hid;
  &:checked ~ .bs-menu__sb--sub-item {
    overflow: hidden;
    height: 0;
    opacity: 0;
  }
  &:checked + .bs-menu__sb--item {
    
  }
}

.bs-ipt__file {@include ipt__hid;}

.bs-ipt__date {@include ipt;}

/***********************************************************
* Labels
***********************************************************/

@mixin lbl (){}
.bs-lbl__txt {
  font-family: $s-srf;
  color: var(--black);
}

.bs-lbl__radio {
  // positioning
  position: relative;
  vertical-align: middle;

  // box model
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  margin: 0 .5em;

  // Misc
  background-color: var(--grey2);
  border: 1.5px solid var(--grey3);
  border-radius: 50px;
  cursor: pointer;
}

.bs-lbl__checkbox {
  // positioning
  position: relative;
  vertical-align: middle;

  // box model
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  margin: 0 .5em;

  // Misc
  background-color: var(--grey2);
  border: 1.5px solid var(--grey3);
  cursor: pointer;
}


/***********************************************************
* Lists
***********************************************************/

.bs-lst {
  font-family: $s-srf;
  &--item {
    padding: .30em;
    &__nst {
      padding: .25em;
    }
  }
}

@mixin menu ($x: center, $y: center, $orientation: row) {
  /*Box-Model*/
  display: flex;
  flex-flow: $orientation wrap;
  justify-content: $x;
  align-items: $y;
  padding: 0;
  margin: 0;

  /*Misc*/
  list-style: none;
}

.bs-menu {
  &-row {
    &__left { @include menu(flex-start);}
    &__right { @include menu;}
    &__center { @include menu(flex-end);}
  }
  &-column {
    &__left { @include menu(null, flex-start, column);}
    &__right { @include menu(null, null, column);}
    &__center { @include menu(null, flex-end, column);}
  }
}

/***********************************************************
* Headings
***********************************************************/
// template mixins
@mixin hed () {
  margin: 1em 0;
  font-family: $s-srf;
}

.bs-hed{@include hed;}

.bs-hed__scd {
  @include hed;
}

.bs-hed__trd {
  @include hed;
  font-style: italic;
}

/***********************************************************
* Paragraphs
***********************************************************/
// template mixin
@mixin par ($margin__top: 1em, $line-height: 150%, $margin_sides: 16px) {
  margin: $margin__top $margin_sides;
  font-family: $s-srf2;
  line-height: $line-height;
}

.bs-par {
  @include par();
  font-family: $srf;
}

.bs-par__summary {
  @include par(1.5em 16px 2em);
  font-style: italic;
  color: var(--grey4);
}

.bs-par__caption {
  @include par(.5em, 120%);
}

.bs-par__basic {
  @include par(1em, 120%, 0);
}

/***********************************************************
* Images
***********************************************************/

//template img
@mixin img($w: 0, $h: 0) {
  width: $w;
  height: $h;
}

@mixin img__responsive () {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

@mixin img__force-full () {
  display: block;
}

@mixin img__container--force-img ($w: 0px, $h: 0px) {
  width: $w;
  height: $h;
  overflow: none;
}

.test__container {
  width: 400px;
  height: 600px;
  padding: 0 50px;
  background-color: tan;
}

.bs-img {
  @include img();
  &__ico {
    @include img(28px, 28px);
  };
  &__1x1 {
    @include img(300px, 300px);
  }
  &__5x4 {
    @include img(300px, 240px);
  }
  &__4x3 {
    @include img(300px, 225px);
  }
  &__3x2 {
    @include img(300px, 200px);
  }
  &__8x5 {
    @include img(300px, 187.5px);
  }
  &__16x9 {
    @include img(300px, 168.75px);
  }
  &__3x1 {
    @include img(300px, 100px);
  }
  &__responsive {
    @include img__responsive ();
  }
  &__custom {
    display: block;
    width: 500px;
    height: 400px;
  }
  &--container__force-img {
    @include img__container--force-img (300px, 225px);
  }
}

/***********************************************************
* Video
***********************************************************/

.bs-vid {
  &__banner {
    position: absolute;
    left: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
}