/*
* Beautiful Site Elements
*
* Elements are simple and reusable pieces of code that are  
* commonly used in BS components. 
*
* They can be used in any location or area.
*/

/***********************************************************
* Buttons
***********************************************************/

// template mixin
@mixin btn () {
  //includes
  @include effect(250ms);

  /*box-model*/
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .5em 1.75em;
  margin-top: 10px;
  
  /*Typographic*/
  font-family: $s-srf;
  font-weight: 700;
  text-decoration: none;
  color: var(--black);

  /*Visual*/
  background-color: var(--grey1);
  border: none;
  border-radius: .1em;
  
  /*Misc*/
  transition-property: background-color, color;
  cursor: pointer;

  //Psuedo elements
  &:hover {
    background-color: var(--grey2);
    color: var(--grey7);
  }
};

.bs-btn {
  @include btn();
  min-width: 100px;
  &__ico {
    @include btn();
    padding: 8.5px;
  }
  &__lng {
    @include btn();
    min-width: 10em;
    text-align: center;
  }
  &__ful {
    @include btn();
    width: 100%;
  }
  &--cont {
    padding: .2em;
  }
}

/***********************************************************
* Links
***********************************************************/

//template mixin
@mixin lnk () {
  text-decoration: none;
  cursor: pointer;
  &:visited {}
  &:hover {}
  &:focus {}
}

.bs-lnk {
  &__hed {
    @include lnk();
    color: inherit;
  }
  &__wrp {
    @include lnk();
  }
  &__txt {
    @include lnk();
    color: var(--opac);
    text-decoration: underline;
  }
}


/***********************************************************
* Inputs
***********************************************************/

@mixin ipt (){
  border: 1px solid var(--opac);
  border-radius: 3px;
  font-family: $s-srf2;
  color: var(--opac);
  background-color:#fafafa;
}

@mixin ipt__hid () {
  visibility: hidden;
}

.bs-ipt {
  &__txt {
    @include ipt;
    padding: .5em;
    transition: all 300ms ease;

    &:focus {
      outline: 0;
      background-color: #eaeaea;
    }
  }
  &__area {
    @include ipt;
    padding: 1em;
    resize: none;
    &__sml {
      @extend .bs-ipt__area;
      height: 5em;
    }
    &__mdm {
      height: 10em;
      @extend .bs-ipt__area;
    }
    &__lrg {
      height: 15em;
      @extend .bs-ipt__area;
    }
  }
  &__radio {
    @include ipt__hid;
    &:checked + .bs-lbl__radio {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      &:after {
        content: " ";
        display: block;
        height: 12px;
        width: 12px;
        background-color: var(--black);
        border-radius: 100%;
      }
    }
  }
  &__checkbox {
    @include ipt__hid;
  }
  &__file {
    @include ipt__hid;
  }
  &__date {
    @include ipt;
  }
}

/***********************************************************
* Labels
***********************************************************/

@mixin lbl (){}
.bs-lbl {
  &__txt {
    font-family: $s-srf;
    color: var(--black);
  }
  // revisit this ruleset
  &__radio {
    display: inline-flex;
    height: 20px;
    width: 20px;
    background-color: #fafafa;
    border: 1.5px solid var(--opac);
    border-radius: 100%;
  }
  &__file {}
  &__checkbox {}
}


/***********************************************************
* Lists
***********************************************************/

.bs-lst {
  font-family: $s-srf;
  &--item {
    padding: .30em;
    &__nst {
      padding: .25em;
    }
  }
}

@mixin menu ($x: center, $y: center, $orientation: row) {
  /*Box-Model*/
  display: flex;
  flex-flow: $orientation wrap;
  justify-content: $x;
  align-items: $y;
  padding: 0;
  margin: 0;

  /*Misc*/
  list-style: none;
}

.bs-menu {
  &-row {
    &__left { @include menu(flex-start);}
    &__right { @include menu;}
    &__center { @include menu(flex-end);}
  }
  &-column {
    &__left { @include menu(null, flex-start, column);}
    &__right { @include menu(null, null, column);}
    &__center { @include menu(null, flex-end, column);}
  }
}

/***********************************************************
* Headings
***********************************************************/
// template mixins
@mixin hed () {
  margin: .2em 16px .5em 16px;
  font-family: $s-srf;
}
.bs-hed {
  @include hed();
  &__scd {
    @include hed();
    color: var(--grey6);
  }
  &__trd {
    @include hed();
    font-style: italic;
    color: var(--grey6);
  }
}

/***********************************************************
* Paragraphs
***********************************************************/
// template mixin
@mixin par ($margin: 1em, $line-height: 150%) {
  margin: $margin 16px;
  font-family: $s-srf2;
  line-height: $line-height;
}

.bs-par {
  @include par();
  font-family: $srf;
  &__summary {
    @include par(1.5em 16px 2em);
    font-style: italic;
    color: var(--grey4);
  }
  &__caption {
    @include par(.5em, 120%);
  } 
}

/***********************************************************
* Images
***********************************************************/

//template img
@mixin img($w: 0, $h: 0) {
  width: $w;
  height: $h;
}

@mixin img__responsive () {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

@mixin img__force-full () {
  display: block;
}

@mixin img__container--force-img ($w: 0px, $h: 0px) {
  width: $w;
  height: $h;
  overflow: none;
}

.test__container {
  width: 400px;
  height: 600px;
  padding: 0 50px;
  background-color: tan;
}

.bs-img {
  @include img();
  &__ico {
    @include img(28px, 28px);
  };
  &__1x1 {
    @include img(300px, 300px);
  }
  &__5x4 {
    @include img(300px, 240px);
  }
  &__4x3 {
    @include img(300px, 225px);
  }
  &__3x2 {
    @include img(300px, 200px);
  }
  &__8x5 {
    @include img(300px, 187.5px);
  }
  &__16x9 {
    @include img(300px, 168.75px);
  }
  &__3x1 {
    @include img(300px, 100px);
  }
  &__responsive {
    @include img__responsive ();
  }
  &__custom {
    display: block;
    width: 500px;
    height: 400px;
  }
  &--container__force-img {
    @include img__container--force-img (300px, 225px);
  }
}

/***********************************************************
* Video
***********************************************************/

.bs-vid {
  &__banner {
    position: absolute;
    left: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
}