
//
// text sizing
//
.bs-lrg { font-size: $lrg;}
.bs-mod { font-size: $mod;}
.bs-mdm { font-size: $mdm;}
.bs-mid { font-size: $mid;}
.bs-main { font-size: $main;}
.bs-small { font-size: $sml;}
.bs-tiny { font-size: $tiny;}
 // flex behavior
 .bs-flex-center {
  @include flex-parent;
}
.bs-flex-start {
  @include flex-parent(flex-start, flex-start);  
}
.bs-flex-end {
  @include flex-parent(flex-end, flex-end);
}
.bs-flex-apart {
  @include flex-parent(space-between, flex-start);
}
.bs-flex-apart__center {
  @include flex-parent(space-between, center);
}
.bs-flex-around {
  @include flex-parent(space-around, center);
}

// behaviors
.bs-success {
  color: var(--black);
  &:hover {
    background-color: var(--green);
  }
}
.bs-neutral {
  color: var(--black);
  &:hover {
    background-color: var(--blue1);
  }
}
.bs-error {
  color: var(--white);
  &:hover {
    background-color: var(--red);
  }
}

.bs-code {
  padding: 1em;
  background-color: var(--grey3);
  font-size: $main;
  font-family: $s-srf;
}
.bs-tag {
  color: blue;
}
.bs-attr {
  color: red;
}
.bs-block {
  display: block;
}
.bs-inline {
  display: inline;
}
.bs-center-margin {
  margin: 0 auto;
}

.bs-round {
  border-radius: 10px;
}

.bs-round-top {
  border-radius: 10px 0;
}
.bs-round-bot {
  border-radius: 0 10px;
}