/*
* Beautiful Site Layout
*
* Layouts are an easy way to control the layout of your site  
* there are grids and sections to determin the positioning of
* Elements and Components
*
* Uses:
*
*
* Misuses:
*
*
*/

/***********************************************************
* Sections
***********************************************************/

.bs-s {
	width: 100%;
	padding: 1rem 0;
	&__ribbon{
		@extend .bs-s;
		min-height: 80px;
		padding: 1rem;
	}
	&__banner {
		/*Positioning*/
		position: relative;
		overflow: hidden;
		padding: 1em;

		/*Box-Model*/
		min-height: 200px;
		max-height: 300px;
		
		// Media Query
		@include bp($bp-10) {
			min-height: 250px;
			max-height: 325px;
		}
		@include bp($bp-15) {
			min-height: 400px;
			max-height: 450px;
		}
	}
	&__sml {
		@extend .bs-s;
		min-height: 200px;
	}
	&__mid {
		@extend .bs-s;
		min-height: 300px;
	}
	&__lrg {
		@extend .bs-s;
		min-height: 400px;
	}
	&__full {
		@extend .bs-s;
		height: 100vh;
		// width: 100vw;
	}
	&--article  {
		max-width: 800px;
		margin: 0 auto;
	}
}