@mixin modal {
  background-color: var(--grey1);
  margin: 1rem;
}
.bs-modal {
  @include modal;
  min-width: 300px;
  max-width: 400px;


  &__lng {
    @include modal;
    min-width: 300px;
    max-width: 600px;
  }

  &--body {
    padding: .5rem;
  }

  &--container {
    /*positioning*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    /*box-model*/
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    
    //Related Selectors
    &__opac {
      //includes extends
      @extend .bs-modal--container;
      background-color: var(--opac);
    }
  }
  &--hdr {
    /*Box Model*/
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-left: .5rem;

    /*Visual*/
    background-color: var(--grey3);
  }
  &--ftr {
    padding: .5rem;
    color: white;
    background-color: var(--grey3);
  }
}

.bs-close {
  @include effect(200ms);
  width: 45px;
  height: 5px;
  position: relative;
  border-radius: 5px;
  background-color: var(--grey7);
  transform: rotate(45deg);
  
  &:before {
    @include effect(200ms);
    content: " ";
    width: 45px;
    height: 5px;
    border-radius: 5px;
    background-color: var(--grey7);
    position: absolute;
    transform: rotate(-90deg);
  }

  &--box {
    @include effect;
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover > .bs-close {
      background-color: var(--grey5);
      &:before {
        background-color: var(--grey5);
      }
    }
  }
}