/*********************************************************/
/* fonts and text */
/*********************************************************/

h1, h2, h3 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h4, h5, h6, a, span {
  font-family: Verdana, Geneva, sans-serif;
}

p, input{
  font-family: Arial, Helvetica, sans-serif;
}


.san-1 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.san-2 {
  font-family: Verdana, Geneva, sans-serif;
}

.san-3 {
  font-family: Arial, Helvetica, sans-serif;
}

.san-4 {
  font-family: Tahoma, Geneva, sans-serif;
}

.serif-1 {
  font-family: Georgia, serif;
}


