/*********************************************************/
/* 10. Images and Video */
/*********************************************************/

.img-icon-sml {
  height: 1.5em;
}


.img-icon {
  height: 40px;
  width: 45px;
}

.img-icon-lrg {
  height: 90px;
}

.img-icon-ib {
  display: inline-block;
}

.img-icon-ib:hover {
  transition: all 500ms ease;
  background-color: white;
}

.img-sml {
  width: 200px;
}

.img-med {
  width: 300px;
}

.img-lrg {
  max-width: 700px;
}

.img-circle {
  border-radius: 100%;
}

.img-backdrop {
  background-position: center;
  background-size: cover;
  height: 32em;
}

/*img-backdrop requires an additional css rule
created by you that is either an id or a class
that has the background-image: url('image path')*/

/*********Desktop Third**********/

@media screen and (min-width: 1000px){
  .img-med {
    width: 450px;
  }
}

/*videos*/


.video-default {
  margin: 1em auto;
  display: block;
  width: 100%;
  /*  height: 60%;*/
}

@media screen and (min-width: 650px){
  .video-default {
    height: 60%;
    width: auto;
  }
};
