/*********************************************************/
/* fonts and text */
/*********************************************************/

h1, h2, h3 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h4, h5, h6, a, span {
  font-family: Verdana, Geneva, sans-serif;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}


.san-1 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.san-2 {
  font-family: Verdana, Geneva, sans-serif;
}

.san-3 {
  font-family: Arial, Helvetica, sans-serif;
}

.san-4 {
  font-family: Tahoma, Geneva, sans-serif;
}

.serif-1 {
  font-family: Georgia, serif;
}

.pm {
  font-family: 'Permanent Marker', cursive;
  font-weight: 100;
  border-bottom: black 1px solid;
  color: #E80900;
}

.pm + p {
  line-height: 1.5
}

.text-backdrop {
  padding: 5px;
  background-color: rgba(37, 35, 23, .6);
}

  .fs-12 {
    font-size: 12px;
  }

  .fs-14 {
    font-size: 14px;
  }

  .fs-16 {
    font-size: 16px;
  }

  .fs-18 {
    font-size: 18px;
  }

.fs-24 {
    font-size: 24px;
}

.fs-28 {
    font-size: 28px;
}

  .txt-algn-center {
    text-align: center;
  }

.fs-lrg-responsive {
  font-size: 40px;
}


@media screen and (min-width: 650px) {

  .text-backdrop {
    /*    max-width: 650px;*/
    margin: auto;
  }

  .fs-lrg-responsive {
    font-size: 60px;
  }
}
