/*********************************************************/
/* Colors */
/*********************************************************/

.flm {
  @include flm;
  color: white;
}

.yg {
  @include yg;
  color: white;
}

.djg {
  @include djg;
  color: white;
}

.dg {
  @include dg;
  color: white;
}

.eb {
  @include eb;
  color: white;
}

.pc {
  @include pc;
  color: white;
}

.sb {
  @include sb;
  color: white;
}

.pt {
  @include pt;
  color: black;
}

.egg {
  @include egg;
  color: black;
}

.wht {
  background-color: $wht;
  color: black;
}

.ylw {
  background-color: $ylw;
  color: black;
}

.blk {
  background-color: $blk;
  color: #FFF;
}

.t-flm {
  color: $flm;
}

.t-yg {
  color: $yg;
}

.t-djg {
  color: $djg;
}

.t-dg {
  color: $dg;
}

.t-eb {
  color: #5F634F;
}

.t-pc {
  color: #9BC4CB;
}

.t-sb {
  color: #3E7CB1;
}

.t-pt {
  color: #E6E8E6;
}

.t-egg {
  color: #EFE7DA;
}

.t-wht {
  color: #fff;
}

.t-blk {
  color: #000;
}
