//
//-- Configuration File
//

//
//Colors
//

//Default Color Variables
$flm: #E55812;
$yg: #95C623;
$djg: #0E4749;
$dg: #002626;
$eb: #5F634F;
$pc: #9BC4CB;
$sb: #3E7CB1;
$pt: #E6E8E6;
$egg: #EFE7DA;
$wht: #fff;
$ylw: #FFBF00;
$blk: #000;

//
//Fonts families
//

//Serif Fonts
$ser: Georgia, serif;

//Sans Serif Fonts
$san-1: "Trebuchet MS", Helvetica, sans-serif;
$san-2: Verdana, Geneva, sans-serif;
$san-3: Arial, Helvetica, sans-serif;
$san-4: Tahoma, Geneva, sans-serif;



//
//Widths
//

//Percentages
$full: 100%;
$half: 50%;
$fourth: 25%;

//Pixels
$px-sml: 100px;
$px-med: 300px;
$px-lrg: 600px;
