//
// Mixins
//

//
// Layouts
//

@mixin flex-c($axis: row, $wrap: nowrap, $justify: center, $align: center) {
  display: flex;
  flex-flow: $axis $wrap;
  justify-content: $justify;
  align-items: $align;
}

//
// Colors
//

//Default Color Mixins
@mixin flm { background-color: $flm;}
@mixin yg { background-color: $yg;}
@mixin djg { background-color: $djg;}
@mixin dg { background-color: $dg;}
@mixin eb { background-color: $eb;}
@mixin pc { background-color: $pc;}
@mixin sb { background-color: $sb;}
@mixin pt { background-color: $pt;}
@mixin egg { background-color: $egg;}
@mixin wht { background-color: $wht;}
@mixin ylw { background-color: $ylw;}
@mixin blk { background-color: $blk;}

//Color Mixins
@mixin color-bck-txt($background, $txtcolor) {
  background-color: $background;
  color: $txtcolor;
}



