* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0; }

figure {
  margin: 0; }

:root {
  --white: white;
  --blue: #1982C4;
  --blue1: #3F88C5;
  --green: #95C623;
  --yellow: #FFCA3A;
  --red: #D72638;
  --purple: #5F0F40;
  --grey7: #464646;
  --grey6: #5D5D5D;
  --grey5: #8B8B8B;
  --grey4: #A2A2A2;
  --grey3: #B9B9B9;
  --grey2: #EBEBEB;
  --grey1: #D1D1D1;
  --grey: #b2b2b2;
  --black: #333;
  --opac: rgba(0, 0, 0, 0.75);
  /*Break-Points*/
  --bp-10: 600px;
  --bp-15: 800px;
  --bp-20: 1000px; }

.bs-h1, .bs-h1__sub, .bs-h1__link > a {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 700; }
  .bs-h1__sub {
    color: rgba(0, 0, 0, 0.5); }
  .bs-h1__link {
    margin: 0; }
  .bs-h1__link > a {
    color: black; }

.bs-h2, .bs-h2__sub, .bs-h2__link > a {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 700; }
  .bs-h2__sub {
    color: rgba(0, 0, 0, 0.5); }
  .bs-h2__link {
    margin: 0; }
  .bs-h2__link > a {
    color: black; }

.bs-h3, .bs-h3__sub, .bs-h3__link > a {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: 700; }
  .bs-h3__sub {
    color: rgba(0, 0, 0, 0.5); }
  .bs-h3__link {
    margin: 0; }
  .bs-h3__link > a {
    color: black; }

.bs-h4, .bs-h4__sub, .bs-h4__link > a {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 700; }
  .bs-h4__sub {
    color: rgba(0, 0, 0, 0.5); }
  .bs-h4__link {
    margin: 0; }
  .bs-h4__link > a {
    color: black; }

.bs-h5, .bs-h5__sub, .bs-h5__link > a {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 700; }
  .bs-h5__sub {
    color: rgba(0, 0, 0, 0.5); }
  .bs-h5__link {
    margin: 0; }
  .bs-h5__link > a {
    color: black; }

.bs-h6, .bs-h6__sub, .bs-h6__link > a {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700; }
  .bs-h6__sub {
    color: rgba(0, 0, 0, 0.5); }
  .bs-h6__link {
    margin: 0; }
  .bs-h6__link > a {
    color: black; }

.bs-p {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 18px; }
  .bs-p__caption {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5); }

.bs-modal {
  background-color: var(--grey1);
  margin: 1rem;
  min-width: 300px;
  max-width: 400px; }
  .bs-modal__lng {
    background-color: var(--grey1);
    margin: 1rem;
    min-width: 300px;
    max-width: 600px; }
  .bs-modal--body {
    padding: .5rem; }
  .bs-modal--container, .bs-modal--container__opac {
    /*positioning*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*box-model*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
    width: 100vw; }
    .bs-modal--container__opac {
      background-color: var(--opac); }
  .bs-modal--hdr {
    /*Box Model*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50px;
    padding-left: .5rem;
    /*Visual*/
    background-color: var(--grey3); }
  .bs-modal--ftr {
    padding: .5rem;
    color: white;
    background-color: var(--grey3); }

.bs-close {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  width: 45px;
  height: 5px;
  position: relative;
  border-radius: 5px;
  background-color: var(--grey7);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }
  .bs-close:before {
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    content: " ";
    width: 45px;
    height: 5px;
    border-radius: 5px;
    background-color: var(--grey7);
    position: absolute;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); }
  .bs-close--box {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    width: 50px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer; }
    .bs-close--box:hover > .bs-close {
      background-color: var(--grey5); }
      .bs-close--box:hover > .bs-close:before {
        background-color: var(--grey5); }

.bs-hdr {
  height: 50px;
  position: relative;
  /***********************************************************
* Full Toggle Header
***********************************************************/
  /***********************************************************
* 3 Header
***********************************************************/
  /***********************************************************
* Media Header
***********************************************************/
  /***********************************************************
* Header Badge
***********************************************************/ }
  @media screen and (min-width: 1000px) {
    .bs-hdr__nav-right {
      height: 50px;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  @media screen and (min-width: 1000px) {
    .bs-hdr__nav-left {
      height: 50px;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  .bs-hdr__fixed {
    position: fixed;
    left: 0;
    right: 0; }
  .bs-hdr__sml {
    height: 50px;
    height: 50px;
    position: relative; }
    @media screen and (min-width: 1000px) {
      .bs-hdr__sml__nav-right {
        height: 50px;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
    @media screen and (min-width: 1000px) {
      .bs-hdr__sml__nav-left {
        height: 50px;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
  .bs-hdr__mdm {
    height: 80px;
    height: 50px;
    position: relative; }
    @media screen and (min-width: 1000px) {
      .bs-hdr__mdm__nav-right {
        height: 50px;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
    @media screen and (min-width: 1000px) {
      .bs-hdr__mdm__nav-left {
        height: 50px;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
  .bs-hdr__lrg {
    height: 100px;
    height: 50px;
    position: relative; }
    @media screen and (min-width: 1000px) {
      .bs-hdr__lrg__nav-right {
        height: 50px;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
    @media screen and (min-width: 1000px) {
      .bs-hdr__lrg__nav-left {
        height: 50px;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
  .bs-hdr__3 {
    height: 50px;
    position: relative;
    position: initial; }
    @media screen and (min-width: 1000px) {
      .bs-hdr__3__nav-right {
        height: 50px;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
    @media screen and (min-width: 1000px) {
      .bs-hdr__3__nav-left {
        height: 50px;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
  .bs-hdr--badge {
    height: 100%;
    padding: 0 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out; }
    @media screen and (min-width: 1000px) {
      .bs-hdr--badge {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    .bs-hdr--badge__toggle {
      height: 100%;
      padding: 0 1em;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 35px;
      -webkit-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out; }
    .bs-hdr--badge__3 {
      height: 100%;
      padding: 0 1em;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 35px;
      -webkit-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    @media screen and (min-width: 1000px) {
      .bs-hdr--badge > .bs-nav--btn-panel {
        display: none; } }

.bs-logo__sml-txt {
  height: 50px;
  font-size: 35px;
  padding: 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease; }
  @media screen and (min-width: 1000px) {
    .bs-logo__sml-txt {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .bs-logo__sml-txt--link {
    text-decoration: none; }

.bs-logo__mdm-txt {
  height: 80px;
  font-size: 40px;
  padding: 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease; }
  @media screen and (min-width: 1000px) {
    .bs-logo__mdm-txt {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .bs-logo__mdm-txt--link {
    text-decoration: none; }

.bs-logo__lrg-txt {
  height: 100px;
  font-size: 50px;
  padding: 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease; }
  @media screen and (min-width: 1000px) {
    .bs-logo__lrg-txt {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .bs-logo__lrg-txt--link {
    text-decoration: none; }

.bs-nav {
  height: 0;
  position: absolute;
  z-index: 40;
  overflow: hidden;
  background-color: white;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  /***********************************************************
* traditional
***********************************************************/
  /***********************************************************
* Full Toggle
***********************************************************/
  /***********************************************************
* Collapsable
***********************************************************/
  /***********************************************************
* 3 prototype
***********************************************************/ }
  @media screen and (min-width: 800px) {
    .bs-nav {
      height: 100vh;
      width: 0;
      position: absolute;
      right: 0; } }
  @media screen and (min-width: 1000px) {
    .bs-nav {
      height: 100%;
      width: auto;
      position: static; } }
  .bs-nav__drop {
    height: 275px;
    overflow: auto;
    overflow-x: hidden; }
    @media screen and (min-width: 800px) {
      .bs-nav__drop {
        height: 100vh;
        width: 40vw;
        overflow: hidden; } }
    @media screen and (min-width: 1000px) {
      .bs-nav__drop {
        height: auto; } }
    .bs-nav__drop::-webkit-scrollbar {
      width: 5px; }
    .bs-nav__drop::-webkit-scrollbar-track {
      display: none; }
    .bs-nav__drop::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: var(--grey5); }
  .bs-nav--item-list {
    margin: 0;
    padding: 0; }
  .bs-nav--item {
    height: 50px;
    list-style: none; }
  .bs-nav--link {
    height: 100%;
    padding: 0 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease; }
    .bs-nav--link:hover {
      color: var(--grey4); }
    .bs-nav--link__selected {
      color: var(--grey4); }
  .bs-nav--btn {
    height: 5px;
    width: 45px;
    position: absolute;
    background-color: var(--grey7);
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease; }
    .bs-nav--btn:before {
      content: " ";
      height: 5px;
      width: 45px;
      position: absolute;
      bottom: 12px;
      background-color: var(--grey7);
      -webkit-transition: all 300ms ease;
      transition: all 300ms ease; }
    .bs-nav--btn:after {
      content: " ";
      height: 5px;
      width: 45px;
      position: absolute;
      top: 12px;
      background-color: var(--grey7);
      -webkit-transition: all 300ms ease;
      transition: all 300ms ease; }
    .bs-nav--btn__closed {
      background-color: transparent;
      -webkit-transition: none;
      transition: none; }
    .bs-nav--btn__closed:before {
      bottom: 0;
      -webkit-transform: rotate(-135deg);
              transform: rotate(-135deg); }
    .bs-nav--btn__closed:after {
      top: 0;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }
    .bs-nav--btn-panel {
      height: 50px;
      width: 60px;
      position: relative;
      right: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      cursor: pointer; }
    .bs-nav--btn-panel__3 {
      height: 50px;
      width: 60px;
      position: absolute;
      right: 1rem;
      bottom: 1rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      cursor: pointer; }
  .bs-nav--basic {
    height: 0;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 40;
    overflow: hidden;
    background-color: var(--white);
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out; }
    @media screen and (min-width: 800px) {
      .bs-nav--basic {
        height: 100vh;
        width: 0;
        position: absolute;
        left: auto;
        right: 0; } }
    @media screen and (min-width: 1000px) {
      .bs-nav--basic {
        height: 100%;
        width: auto;
        position: static; } }
    .bs-nav--basic__drop {
      height: 275px;
      overflow: auto;
      overflow-x: hidden; }
      @media screen and (min-width: 800px) {
        .bs-nav--basic__drop {
          height: 100vh;
          width: 35vw;
          overflow: hidden; } }
      @media screen and (min-width: 1000px) {
        .bs-nav--basic__drop {
          height: auto; } }
      .bs-nav--basic__drop::-webkit-scrollbar {
        width: 5px; }
      .bs-nav--basic__drop::-webkit-scrollbar-track {
        display: none; }
      .bs-nav--basic__drop::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: var(--grey5); }
    @media screen and (min-width: 1000px) {
      .bs-nav--basic > .bs-nav--item-list {
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap; } }
  .bs-nav--toggle {
    height: 0;
    position: relative;
    z-index: 40;
    overflow: hidden;
    background-color: var(--white);
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out; }
    @media screen and (min-width: 800px) {
      .bs-nav--toggle {
        height: 100vh;
        width: 0;
        position: absolute;
        right: 0; } }
    .bs-nav--toggle__drop {
      height: 275px;
      overflow: auto;
      overflow-x: hidden; }
      @media screen and (min-width: 800px) {
        .bs-nav--toggle__drop {
          height: 100vh;
          width: 35vw;
          overflow: hidden; } }
      @media screen and (min-width: 1000px) {
        .bs-nav--toggle__drop {
          width: 20vw; } }
      .bs-nav--toggle__drop::-webkit-scrollbar {
        width: 5px; }
      .bs-nav--toggle__drop::-webkit-scrollbar-track {
        display: none; }
      .bs-nav--toggle__drop::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: var(--grey5); }
  .bs-nav--3 {
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 40;
    overflow: hidden;
    background-color: white;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out; }
  .bs-nav--3__drop {
    height: 275px;
    overflow: auto;
    overflow-x: hidden; }
    @media screen and (min-width: 1000px) {
      .bs-nav--3__drop {
        height: auto; } }
    .bs-nav--3__drop::-webkit-scrollbar {
      width: 5px; }
    .bs-nav--3__drop::-webkit-scrollbar-track {
      display: none; }
    .bs-nav--3__drop::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: var(--grey5); }

.form {
  padding: .5rem;
  max-width: 400px;
  margin: 0 auto; }
  .form--title {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 30px;
    margin: 0; }
  .form--fldst__base {
    border: 0;
    padding: .5rem;
    margin: 3em 0;
    position: relative; }
  .form--fldst__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .form--fldst__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 0 2em; }
  .form--fldst__hidden {
    display: none; }
  .form--label {
    display: block;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 20px;
    position: relative;
    padding: .5em; }
    .form--label__pop {
      position: absolute;
      z-index: 50;
      top: .5em;
      -webkit-transition: all ease 200ms;
      transition: all ease 200ms; }
    .form--label__radio {
      border-radius: 100%;
      height: 20px;
      width: 20px;
      background-color: white;
      border: solid 3px black;
      -webkit-transition: all 300ms ease;
      transition: all 300ms ease;
      display: inline-block;
      margin-right: 1em; }
    .form--label__side {
      font-family: "Trebuchet MS", Helvetica, sans-serif;
      font-size: 20px; }
  .form--input__text {
    display: block;
    width: 100%;
    padding: .5em .5em .2em .5em;
    position: relative;
    z-index: 100;
    border: 2px solid transparent;
    border-bottom: 2px solid white;
    background-color: transparent;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: mid; }
    .form--input__text:focus:invalid {
      border-bottom: 2px solid red;
      outline: none; }
    .form--input__text:valid {
      outline: none;
      border-bottom: 2px solid blue; }
    .form--input__text:focus + .form--label__pop {
      top: -1em;
      font-family: "Trebuchet MS", Helvetica, sans-serif;
      font-size: 12px; }
    .form--input__text:valid + .form--label__pop {
      top: -1em;
      font-family: "Trebuchet MS", Helvetica, sans-serif;
      font-size: 12px; }
  .form--input__radio {
    visibility: hidden; }
    .form--input__radio:checked + .form--label__radio {
      background-color: var(--blue2); }
  .form--textarea {
    height: 6em;
    width: 100%;
    resize: none;
    padding: .5em;
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 18px; }
  .form--btn {
    border: none;
    background: var(--blue2);
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 30px;
    color: white;
    padding: .5em 1em;
    margin: 2px;
    cursor: pointer;
    -webkit-transition: -webkit-transition all 300ms;
    transition: -webkit-transition all 300ms;
    transition: transition all 300ms;
    transition: transition all 300ms, -webkit-transition all 300ms; }
    .form--btn:hover {
      background-color: rgba(0, 0, 0, 0.7); }
  .form--btn__back {
    border: none;
    background: red;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    padding: .5em 1em;
    margin: 2px;
    cursor: pointer;
    -webkit-transition: -webkit-transition all 300ms;
    transition: -webkit-transition all 300ms;
    transition: transition all 300ms;
    transition: transition all 300ms, -webkit-transition all 300ms;
    visibility: hidden; }
    .form--btn__back:hover {
      background-color: rgba(0, 0, 0, 0.7); }
  .form--link {
    margin: 2px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 20px; }
    .form--link:hover {
      color: red; }

.bs-ftr__sml {
  margin: 0; }

.bs-ftr--cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem; }

.bs-ftr--lnk-group {
  padding: 0;
  margin: 1rem;
  max-width: 300px;
  list-style: none; }

.bs-ftr--lnk-group-title {
  color: var(--grey7);
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 1rem; }

.bs-ftr--lnk {
  padding: .25rem;
  display: block;
  color: var(--grey7);
  text-decoration: none;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif; }

.bs-ftr--lnk:hover {
  text-decoration: underline; }

.bs-alert {
  /*Pox Model*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 300px;
  margin: .5em 0; }
  .bs-alert--close {
    /*Positioning*/
    /*Box-model*/
    /*Visual*/
    /*Misc*/
    height: 50px;
    width: 50px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-transition: background-color 300ms ease;
    transition: background-color 300ms ease;
    cursor: pointer; }
    .bs-alert--close:before {
      /*Positioning*/
      position: absolute;
      z-index: 40;
      /*Box-model*/
      height: 5px;
      width: 45px;
      /*Visual*/
      background-color: var(--white);
      /*Misc*/
      content: " ";
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .bs-alert--close:after {
      /*Positioning*/
      /*Box-model*/
      /*Visual*/
      /*Misc*/
      content: " ";
      height: 5px;
      width: 45px;
      position: absolute;
      background-color: var(--white);
      z-index: 40;
      -webkit-transform: rotate(135deg);
              transform: rotate(135deg); }
    .bs-alert--close:hover {
      background-color: rgba(0, 0, 0, 0.8); }
  .bs-alert--msg {
    padding: 0 1em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 20px; }
  .bs-alert--container {
    position: absolute;
    bottom: 2em;
    right: 2em; }

/*
* Beautiful Site Elements
*
* Elements are simple and reusable pieces of code that are  
* commonly used in BS components. 
*
* They can be used in any location or area.
*/
/***********************************************************
* Buttons
***********************************************************/
.bs-btn {
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  /*box-model*/
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5em 1.75em;
  margin-top: 10px;
  /*Typographic*/
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: var(--black);
  /*Visual*/
  background-color: var(--grey1);
  border: none;
  border-radius: .1em;
  /*Misc*/
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  cursor: pointer;
  min-width: 100px; }
  .bs-btn:hover {
    background-color: var(--grey2);
    color: var(--grey7); }
  .bs-btn__ico {
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    /*box-model*/
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: .5em 1.75em;
    margin-top: 10px;
    /*Typographic*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: var(--black);
    /*Visual*/
    background-color: var(--grey1);
    border: none;
    border-radius: .1em;
    /*Misc*/
    -webkit-transition-property: background-color, color;
    transition-property: background-color, color;
    cursor: pointer;
    padding: 8.5px; }
    .bs-btn__ico:hover {
      background-color: var(--grey2);
      color: var(--grey7); }
  .bs-btn__lng {
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    /*box-model*/
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: .5em 1.75em;
    margin-top: 10px;
    /*Typographic*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: var(--black);
    /*Visual*/
    background-color: var(--grey1);
    border: none;
    border-radius: .1em;
    /*Misc*/
    -webkit-transition-property: background-color, color;
    transition-property: background-color, color;
    cursor: pointer;
    min-width: 10em;
    text-align: center; }
    .bs-btn__lng:hover {
      background-color: var(--grey2);
      color: var(--grey7); }
  .bs-btn__ful {
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    /*box-model*/
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: .5em 1.75em;
    margin-top: 10px;
    /*Typographic*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: var(--black);
    /*Visual*/
    background-color: var(--grey1);
    border: none;
    border-radius: .1em;
    /*Misc*/
    -webkit-transition-property: background-color, color;
    transition-property: background-color, color;
    cursor: pointer;
    width: 100%; }
    .bs-btn__ful:hover {
      background-color: var(--grey2);
      color: var(--grey7); }
  .bs-btn--cont {
    padding: .2em; }

/***********************************************************
* Links
***********************************************************/
.bs-lnk__hed {
  text-decoration: none;
  cursor: pointer;
  color: inherit; }

.bs-lnk__wrp {
  text-decoration: none;
  cursor: pointer; }

.bs-lnk__txt {
  text-decoration: none;
  cursor: pointer;
  color: var(--opac);
  text-decoration: underline; }

/***********************************************************
* Inputs
***********************************************************/
.bs-ipt__txt {
  border: 1px solid var(--opac);
  border-radius: 3px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: var(--opac);
  background-color: #fafafa;
  padding: .5em;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease; }
  .bs-ipt__txt:focus {
    outline: 0;
    background-color: #eaeaea; }

.bs-ipt__area, .bs-ipt__area__sml, .bs-ipt__area__mdm, .bs-ipt__area__lrg {
  border: 1px solid var(--opac);
  border-radius: 3px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: var(--opac);
  background-color: #fafafa;
  padding: 1em;
  resize: none; }
  .bs-ipt__area__sml {
    height: 5em; }
  .bs-ipt__area__mdm {
    height: 10em; }
  .bs-ipt__area__lrg {
    height: 15em; }

.bs-ipt__radio {
  visibility: hidden; }
  .bs-ipt__radio:checked + .bs-lbl__radio {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .bs-ipt__radio:checked + .bs-lbl__radio:after {
      content: " ";
      display: block;
      height: 12px;
      width: 12px;
      background-color: var(--black);
      border-radius: 100%; }

.bs-ipt__checkbox {
  visibility: hidden; }

.bs-ipt__file {
  visibility: hidden; }

.bs-ipt__date {
  border: 1px solid var(--opac);
  border-radius: 3px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: var(--opac);
  background-color: #fafafa; }

/***********************************************************
* Labels
***********************************************************/
.bs-lbl__txt {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--black); }

.bs-lbl__radio {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 20px;
  width: 20px;
  background-color: #fafafa;
  border: 1.5px solid var(--opac);
  border-radius: 100%; }

/***********************************************************
* Lists
***********************************************************/
.bs-lst {
  font-family: Arial, Helvetica, sans-serif; }
  .bs-lst--item {
    padding: .30em; }
    .bs-lst--item__nst {
      padding: .25em; }

.bs-menu-row__left {
  /*Box-Model*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  /*Misc*/
  list-style: none; }

.bs-menu-row__right {
  /*Box-Model*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  /*Misc*/
  list-style: none; }

.bs-menu-row__center {
  /*Box-Model*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  /*Misc*/
  list-style: none; }

.bs-menu-column__left {
  /*Box-Model*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0;
  margin: 0;
  /*Misc*/
  list-style: none; }

.bs-menu-column__right {
  /*Box-Model*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  padding: 0;
  margin: 0;
  /*Misc*/
  list-style: none; }

.bs-menu-column__center {
  /*Box-Model*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0;
  margin: 0;
  /*Misc*/
  list-style: none; }

/***********************************************************
* Headings
***********************************************************/
.bs-hed {
  margin: .2em 16px .5em 16px;
  font-family: Arial, Helvetica, sans-serif; }
  .bs-hed__scd {
    margin: .2em 16px .5em 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--grey6); }
  .bs-hed__trd {
    margin: .2em 16px .5em 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: var(--grey6); }

/***********************************************************
* Paragraphs
***********************************************************/
.bs-par {
  margin: 1em 16px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  line-height: 150%;
  font-family: "Noticia Text", serif; }
  .bs-par__summary {
    margin: 1.5em 16px 2em 16px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    line-height: 150%;
    font-style: italic;
    color: var(--grey4); }
  .bs-par__caption {
    margin: 0.5em 16px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    line-height: 120%; }

/***********************************************************
* Images
***********************************************************/
.test__container {
  width: 400px;
  height: 600px;
  padding: 0 50px;
  background-color: tan; }

.bs-img {
  width: 0;
  height: 0; }
  .bs-img__ico {
    width: 28px;
    height: 28px; }
  .bs-img__1x1 {
    width: 300px;
    height: 300px; }
  .bs-img__5x4 {
    width: 300px;
    height: 240px; }
  .bs-img__4x3 {
    width: 300px;
    height: 225px; }
  .bs-img__3x2 {
    width: 300px;
    height: 200px; }
  .bs-img__8x5 {
    width: 300px;
    height: 187.5px; }
  .bs-img__16x9 {
    width: 300px;
    height: 168.75px; }
  .bs-img__3x1 {
    width: 300px;
    height: 100px; }
  .bs-img__responsive {
    display: block;
    max-width: 100%;
    max-height: 100%; }
  .bs-img__custom {
    display: block;
    width: 500px;
    height: 400px; }
  .bs-img--container__force-img {
    width: 300px;
    height: 225px;
    overflow: none; }

/***********************************************************
* Video
***********************************************************/
.bs-vid__banner {
  position: absolute;
  left: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%; }

/*
* Beautiful Site Components
*
* Components are clusters of elements that form a larger 
* structure on the page.
*
*/
/***********************************************************
* Forms
***********************************************************/
.bs-form__responsive {
  padding: 1em; }

.bs-form--set__left > .bs-ipt__txt {
  margin-left: 5px; }

.bs-form--set__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 1em; }
  .bs-form--set__top > .bs-ipt__txt {
    margin-top: 5px; }

/***********************************************************
* Panel Card
***********************************************************/
.bs-shadow {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.bs-c__panel {
  margin: .5rem;
  width: 300px;
  background-color: white; }

.bs-c--img {
  display: block;
  max-width: 100%; }

.bs-c--video {
  display: block;
  max-width: 100%; }

.bs-c--img-cnt {
  width: 300px;
  height: 200px; }

.bs-c--body {
  background-color: var();
  padding: .5rem 1rem; }

.bs-c--hdr {
  background-color: var(--grey2);
  color: var(--opac);
  padding: .5rem 1rem; }

.bs-c--ftr {
  padding: .5rem 1rem;
  background-color: var(--grey2); }

/***********************************************************
* Media 
***********************************************************/
.bs-media {
  /* Box-Model */
  display: block;
  min-width: 300px;
  max-width: 650px;
  padding: .5rem;
  margin: 1em;
  /*Typography*/
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none; }

.bs-media--body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0; }

.bs-media--img {
  display: block;
  height: 120px; }

.bs-media--cnt {
  margin-left: 1em; }

.bs-media--heading {
  margin-top: 0;
  margin-bottom: .5em;
  font-family: "Trebuchet MS", Helvetica, sans-serif; }

.bs-media--date {
  font-size: 15px;
  color: #5C595D; }

.bs-media--txt {
  margin-bottom: 0; }

.bs-media--ftr {
  width: 100%;
  padding: 1em;
  background-color: var(--grey); }

/*
* Beautiful Site Layout
*
* Layouts are an easy way to control the layout of your site  
* there are grids and sections to determin the positioning of
* Elements and Components
*
* Uses:
*
*
* Misuses:
*
*
*/
/***********************************************************
* Sections
***********************************************************/
.bs-s, .bs-s__ribbon, .bs-s__sml, .bs-s__mid, .bs-s__lrg, .bs-s__full {
  width: 100%;
  padding: 1rem 0; }
  .bs-s__ribbon {
    min-height: 80px;
    padding: 1rem; }
  .bs-s__banner {
    /*Positioning*/
    position: relative;
    overflow: hidden;
    padding: 1em;
    /*Box-Model*/
    min-height: 200px;
    max-height: 300px; }
    @media screen and (min-width: 600px) {
      .bs-s__banner {
        min-height: 250px;
        max-height: 325px; } }
    @media screen and (min-width: 800px) {
      .bs-s__banner {
        min-height: 400px;
        max-height: 450px; } }
  .bs-s__sml {
    min-height: 200px; }
  .bs-s__mid {
    min-height: 300px; }
  .bs-s__lrg {
    min-height: 400px; }
  .bs-s__full {
    height: 100vh; }
  .bs-s--article {
    max-width: 800px;
    margin: 0 auto; }

.banner-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }

.c-logo-ltrs {
  font-size: 50px;
  color: var(--blue);
  margin: .2em;
  font-family: 'Rubik', sans-serif;
  display: none; }
  @media screen and (min-width: 800px) {
    .c-logo-ltrs {
      display: block; } }

.c-logo-subltrs {
  font-size: 50px;
  color: white;
  font-weight: 700;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  font-style: italic;
  display: none; }
  @media screen and (min-width: 800px) {
    .c-logo-subltrs {
      display: block; } }

.blue {
  background-color: var(--blue);
  color: var(--white); }

.purple {
  background-color: var(--purple);
  color: var(--white); }

.green {
  background-color: var(--green);
  color: var(--white); }

.bs-size-300px {
  max-width: 300px; }

.bs-size-400px {
  max-width: 400px; }

.bs-size-600px {
  max-width: 600px; }

.bs-size-800px {
  max-width: 800px; }

.bs-lrg {
  font-size: 35px; }

.bs-mod {
  font-size: 30px; }

.bs-mdm {
  font-size: 25px; }

.bs-mid {
  font-size: 20px; }

.bs-main {
  font-size: 18px; }

.bs-small {
  font-size: 15px; }

.bs-tiny {
  font-size: 12px; }

.bs-flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.bs-flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.bs-flex-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.bs-flex-apart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.bs-flex-apart__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.bs-flex-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.bs-success {
  background-color: var(--green);
  color: var(--black); }

.bs-neutral {
  background-color: var(--blue1);
  color: var(--black); }

.bs-error {
  background-color: var(--red);
  color: var(--white); }

.bs-code {
  padding: 1em;
  background-color: var(--grey3);
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif; }

.bs-tag {
  color: blue; }

.bs-attr {
  color: red; }

.bs-block {
  display: block; }

.bs-inline {
  display: inline; }

/*# sourceMappingURL=maps/main.css.map */
