* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0; }

figure {
  margin: 0; }

:root {
  --white: #fff;
  --blue: #1982C4;
  --blue1: #3F88C5;
  --green: #95C623;
  --yellow: #FFCA3A;
  --red: #D72638;
  --purple: #5F0F40;
  --grey7: #464646;
  --grey6: #5D5D5D;
  --grey5: #8B8B8B;
  --grey4: #A2A2A2;
  --grey3: #B9B9B9;
  --grey2: #EBEBEB;
  --grey1: #D1D1D1;
  --grey: #b2b2b2;
  --black: #333;
  --opac: rgba(0, 0, 0, 0.75); }

.bs-h1, .bs-h1__sub, .bs-h1__link > a {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 700; }
  .bs-h1__sub {
    color: rgba(0, 0, 0, 0.5); }
  .bs-h1__link {
    margin: 0; }
  .bs-h1__link > a {
    color: black; }

.bs-h2, .bs-h2__sub, .bs-h2__link > a {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 700; }
  .bs-h2__sub {
    color: rgba(0, 0, 0, 0.5); }
  .bs-h2__link {
    margin: 0; }
  .bs-h2__link > a {
    color: black; }

.bs-h3, .bs-h3__sub, .bs-h3__link > a {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: 700; }
  .bs-h3__sub {
    color: rgba(0, 0, 0, 0.5); }
  .bs-h3__link {
    margin: 0; }
  .bs-h3__link > a {
    color: black; }

.bs-h4, .bs-h4__sub, .bs-h4__link > a {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 700; }
  .bs-h4__sub {
    color: rgba(0, 0, 0, 0.5); }
  .bs-h4__link {
    margin: 0; }
  .bs-h4__link > a {
    color: black; }

.bs-h5, .bs-h5__sub, .bs-h5__link > a {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 700; }
  .bs-h5__sub {
    color: rgba(0, 0, 0, 0.5); }
  .bs-h5__link {
    margin: 0; }
  .bs-h5__link > a {
    color: black; }

.bs-h6, .bs-h6__sub, .bs-h6__link > a {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700; }
  .bs-h6__sub {
    color: rgba(0, 0, 0, 0.5); }
  .bs-h6__link {
    margin: 0; }
  .bs-h6__link > a {
    color: black; }

.bs-p {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 18px; }
  .bs-p__caption {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5); }

.bs-btn, .bs-btn__lng, .bs-btn__lng__hollow, .bs-btn__full, .bs-btn__hollow {
  padding: .25em .5em;
  border: 0.1em solid var(--grey);
  background-color: var(--grey);
  border-radius: 2px;
  cursor: pointer;
  color: var(--black); }
  .bs-btn:active, .bs-btn__lng:active, .bs-btn__lng__hollow:active, .bs-btn__full:active, .bs-btn__hollow:active, .bs-btn:visited, .bs-btn__lng:visited, .bs-btn__lng__hollow:visited, .bs-btn__full:visited, .bs-btn__hollow:visited, .bs-btn:focus, .bs-btn__lng:focus, .bs-btn__lng__hollow:focus, .bs-btn__full:focus, .bs-btn__hollow:focus {
    outline: none; }
  .bs-btn__lng, .bs-btn__lng__hollow {
    padding: .25em 3em; }
    .bs-btn__lng__hollow {
      border: 0.1em solid var(--black);
      background-color: transparent; }
  .bs-btn__full {
    width: 100%; }
  .bs-btn__hollow {
    border: 0.1em solid var(--black);
    background-color: transparent; }

.bs-blue {
  color: var(--blue); }
  .bs-blue__hollow {
    color: var(--blue);
    border: 0.1em solid var(--blue); }
  .bs-blue__background {
    color: var(--white);
    border: 0.1em solid var(--blue);
    background-color: var(--blue); }

.bs-green {
  color: var(--green); }
  .bs-green__hollow {
    color: var(--green);
    border: 0.1em solid var(--green); }
  .bs-green__background {
    border: 0.1em solid var(--green);
    color: var(--white);
    background-color: var(--green); }

.bs-yellow {
  color: var(--yellow); }
  .bs-yellow__hollow {
    color: var(--yellow);
    border: 0.1em solid var(--yellow); }
  .bs-yellow__background {
    border: 0.1em solid var(--yellow);
    color: var(--white);
    background-color: var(--yellow); }

.bs-red {
  color: var(--red); }
  .bs-red__hollow {
    color: var(--red);
    border: 0.1em solid var(--red); }
  .bs-red__background {
    border: 0.1em solid var(--red);
    color: var(--white);
    background-color: var(--red); }

.bs-purple {
  color: var(--purple); }
  .bs-purple__hollow {
    color: var(--purple);
    border: 0.1em solid var(--purple); }
  .bs-purple__background {
    border: 0.1em solid var(--purple);
    color: var(--white);
    background-color: var(--purple); }

.bs-grey {
  color: var(--grey); }
  .bs-grey__hollow {
    color: var(--grey);
    border: 0.1em solid var(--grey); }
  .bs-grey__background {
    border: 0.1em solid var(--grey);
    color: var(--white);
    background-color: var(--grey); }

.bs-black {
  color: var(--black); }
  .bs-black__hollow {
    color: var(--black);
    border: 0.1em solid var(--black); }
  .bs-black__background {
    border: 0.1em solid var(--black);
    color: var(--white);
    background-color: var(--black); }

.bs-white {
  color: var(--white); }
  .bs-white__background {
    color: var(--black);
    background-color: var(--white); }
  .bs-white__card {
    background-color: var(--white);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.bs-b__black {
  background-color: var(--black); }

.bs-b__blue1 {
  background-color: var(--blue1); }

.bs-lrg {
  font-size: 35px; }

.bs-mod {
  font-size: 30px; }

.bs-mdm {
  font-size: 25px; }

.bs-mid {
  font-size: 20px; }

.bs-main {
  font-size: 18px; }

.bs-small {
  font-size: 15px; }

.bs-tiny {
  font-size: 12px; }

.bs-flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.bs-flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.bs-flex-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.bs-flex-apart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.bs-space {
  margin: 1em; }
  .bs-space__top {
    margin-top: 1em; }
  .bs-space__bottom {
    margin-bottom: 1em; }
  .bs-space__top-bot {
    margin: 1em 0; }
  .bs-space__left {
    margin-left: 1em; }
  .bs-space__right {
    margin-right: 1em; }
  .bs-space__sides {
    margin: 0 1em; }
  .bs-space__ctr-vrt {
    margin: 0 auto;
    display: block; }

.bs-border__none {
  border: none; }

.bs-s, .bs-s__ribbon, .bs-s__sml, .bs-s__mid, .bs-s__lrg, .bs-s__full {
  width: 100%;
  padding: 2rem; }
  .bs-s__ribbon {
    height: 80px; }
  .bs-s__banner {
    padding: 1em;
    min-height: 200px; }
    @media screen and (min-width: 600px) {
      .bs-s__banner {
        min-height: 250px; } }
    @media screen and (min-width: 800px) {
      .bs-s__banner {
        min-height: 400px; } }
  .bs-s__sml {
    min-height: 200px; }
  .bs-s__mid {
    min-height: 300px; }
  .bs-s__lrg {
    min-height: 400px; }
  .bs-s__full {
    height: 100%;
    width: 100%; }

.bs-card {
  width: 300px;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: var(--white); }
  .bs-card--container {
    border-radius: 0 0 10px 10px; }
  .bs-card--img {
    max-width: 100%;
    border-radius: 10px 10px 0 0; }
    .bs-card--img-container {
      width: 300px;
      height: 200px; }
  .bs-card--body {
    padding: .5rem 1rem; }
  .bs-card--hdr {
    background-color: var(--grey2);
    color: var(--black);
    padding: .5rem 1rem; }
  .bs-card--ftr {
    padding: .5rem 1rem;
    border-radius: 0 0 10px 10px;
    background-color: var(--grey1); }

.bs-img {
  width: 100%; }
  .bs-img--container {
    width: 100%;
    height: auto; }

.bs-modal--container {
  height: 100vh;
  width: 100vw;
  background-color: var(--opac);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.bs-modal--hdr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  height: 50px;
  padding-left: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.bs-close--box {
  width: 50px;
  height: 100%; }

.bs-hdr__sml {
  height: 50px;
  position: relative;
  background-color: var(--grey2); }
  @media screen and (min-width: 1000px) {
    .bs-hdr__sml {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; } }

.bs-hdr__mdm {
  height: 80px;
  position: relative;
  background-color: var(--grey2); }
  @media screen and (min-width: 1000px) {
    .bs-hdr__mdm {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; } }

.bs-hdr__lrg {
  height: 100px;
  position: relative;
  background-color: var(--grey2); }
  @media screen and (min-width: 1000px) {
    .bs-hdr__lrg {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; } }

.bs-nav {
  height: 0;
  z-index: 40;
  position: relative; }
  @media screen and (min-width: 800px) {
    .bs-nav {
      height: 100vh;
      width: 0;
      position: absolute;
      right: 0; } }
  @media screen and (min-width: 1000px) {
    .bs-nav {
      height: 100%;
      width: auto;
      position: static; } }
  .bs-nav__drop {
    height: 50vh; }
    @media screen and (min-width: 800px) {
      .bs-nav__drop {
        height: 100vh;
        width: 40vw; } }
    @media screen and (min-width: 1000px) {
      .bs-nav__drop {
        height: auto; } }
  .bs-nav--item-list {
    margin: 0;
    padding: 0; }
    @media screen and (min-width: 1000px) {
      .bs-nav--item-list {
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap; } }
  .bs-nav--item {
    height: 50px;
    list-style: none; }
    @media screen and (min-width: 1000px) {
      .bs-nav--item {
        height: 100%; } }
  .bs-nav--link {
    height: 100%;
    padding: 0 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease; }
    .bs-nav--link:hover {
      background-color: var(--grey4); }
    .bs-nav--link__selected {
      background-color: var(--grey4); }
  .bs-nav--btn {
    height: 5px;
    width: 45px;
    position: relative;
    background-color: var(--grey7);
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease; }
    .bs-nav--btn:before {
      content: " ";
      height: 5px;
      width: 45px;
      position: absolute;
      bottom: 12px;
      background-color: var(--grey7);
      -webkit-transition: all 300ms ease;
      transition: all 300ms ease; }
    .bs-nav--btn:after {
      content: " ";
      height: 5px;
      width: 45px;
      position: absolute;
      top: 12px;
      background-color: var(--grey7);
      -webkit-transition: all 300ms ease;
      transition: all 300ms ease; }
    .bs-nav--btn__closed {
      background-color: transparent;
      -webkit-transition: none;
      transition: none; }
    .bs-nav--btn__closed:before {
      bottom: 0;
      -webkit-transform: rotate(-135deg);
              transform: rotate(-135deg); }
    .bs-nav--btn__closed:after {
      top: 0;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }
    .bs-nav--btn--panel {
      height: 50px;
      width: 60px;
      position: absolute;
      right: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      cursor: pointer; }
      @media screen and (min-width: 1000px) {
        .bs-nav--btn--panel {
          display: none; } }

.bs-logo__sml-txt {
  height: 50px;
  font-size: 35px;
  padding: 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease; }
  @media screen and (min-width: 1000px) {
    .bs-logo__sml-txt {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .bs-logo__sml-txt-link {
    text-decoration: none; }

.bs-logo__mdm-txt {
  height: 80px;
  font-size: 40px;
  padding: 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease; }
  @media screen and (min-width: 1000px) {
    .bs-logo__mdm-txt {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .bs-logo__mdm-txt-link {
    text-decoration: none; }

.bs-logo__lrg-txt {
  height: 100px;
  font-size: 50px;
  padding: 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease; }
  @media screen and (min-width: 1000px) {
    .bs-logo__lrg-txt {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .bs-logo__lrg-txt-link {
    text-decoration: none; }

.form {
  padding: .5rem;
  max-width: 400px;
  margin: 0 auto; }
  .form--title {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 30px;
    margin: 0; }
  .form--fldst__base {
    border: 0;
    padding: .5rem;
    margin: 3em 0;
    position: relative; }
  .form--fldst__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .form--fldst__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 0 2em; }
  .form--fldst__hidden {
    display: none; }
  .form--label {
    display: block;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 20px;
    position: relative;
    padding: .5em; }
    .form--label__pop {
      position: absolute;
      z-index: 50;
      top: .5em;
      -webkit-transition: all ease 200ms;
      transition: all ease 200ms; }
    .form--label__radio {
      border-radius: 100%;
      height: 20px;
      width: 20px;
      background-color: white;
      border: solid 3px black;
      -webkit-transition: all 300ms ease;
      transition: all 300ms ease;
      display: inline-block;
      margin-right: 1em; }
    .form--label__side {
      font-family: "Trebuchet MS", Helvetica, sans-serif;
      font-size: 20px; }
  .form--input__text {
    display: block;
    width: 100%;
    padding: .5em .5em .2em .5em;
    position: relative;
    z-index: 100;
    border: 2px solid transparent;
    border-bottom: 2px solid white;
    background-color: transparent;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: mid; }
    .form--input__text:focus:invalid {
      border-bottom: 2px solid red;
      outline: none; }
    .form--input__text:valid {
      outline: none;
      border-bottom: 2px solid blue; }
    .form--input__text:focus + .form--label__pop {
      top: -1em;
      font-family: "Trebuchet MS", Helvetica, sans-serif;
      font-size: 12px; }
    .form--input__text:valid + .form--label__pop {
      top: -1em;
      font-family: "Trebuchet MS", Helvetica, sans-serif;
      font-size: 12px; }
  .form--input__radio {
    visibility: hidden; }
    .form--input__radio:checked + .form--label__radio {
      background-color: var(--blue2); }
  .form--textarea {
    height: 6em;
    width: 100%;
    resize: none;
    padding: .5em;
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 18px; }
  .form--btn {
    border: none;
    background: var(--blue2);
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 30px;
    color: white;
    padding: .5em 1em;
    margin: 2px;
    cursor: pointer;
    -webkit-transition: -webkit-transition all 300ms;
    transition: -webkit-transition all 300ms;
    transition: transition all 300ms;
    transition: transition all 300ms, -webkit-transition all 300ms; }
    .form--btn:hover {
      background-color: rgba(0, 0, 0, 0.7); }
  .form--btn__back {
    border: none;
    background: red;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    padding: .5em 1em;
    margin: 2px;
    cursor: pointer;
    -webkit-transition: -webkit-transition all 300ms;
    transition: -webkit-transition all 300ms;
    transition: transition all 300ms;
    transition: transition all 300ms, -webkit-transition all 300ms;
    visibility: hidden; }
    .form--btn__back:hover {
      background-color: rgba(0, 0, 0, 0.7); }
  .form--link {
    margin: 2px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 20px; }
    .form--link:hover {
      color: red; }

.bs-img__banner__sml {
  width: 300px; }

.banner-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }

.c-logo-ltrs {
  font-size: 50px;
  color: var(--blue);
  margin: .2em;
  font-family: 'Rubik', sans-serif;
  display: none; }
  @media screen and (min-width: 800px) {
    .c-logo-ltrs {
      display: block; } }

.c-logo-subltrs {
  font-size: 50px;
  color: white;
  font-weight: 700;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  font-style: italic;
  display: none; }
  @media screen and (min-width: 800px) {
    .c-logo-subltrs {
      display: block; } }

/*# sourceMappingURL=maps/main.css.map */
