/*+++++++++++++++++++++++++++++++++*/
/*Tags*/
/*+++++++++++++++++++++++++++++++++*/

//mixins

@mixin tag-config($padding, $min-width, $margin, $font-size){
  padding: $padding;
  min-width: $min-width;
  margin: $margin-main;
  border-radius: 8px;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  *{
    font-size: $font-size;
    font-weight: 600;
    margin: 0;
    text-align: center;
  }
}

.tag-lrg {
  @include tag-config( 10px, 150px, 0, 30px);
}

.tag-med{
  @include tag-config(8px, 150px, 0, 25px);
}

.tag-sml{
  @include tag-config(5px, 100px, 0, 15px);
}


