/*********************************************************/
/* Components (cards, thumbnails)*/
/*********************************************************/


/*+++++++++++++++++++++++++++++++++*/
/*Chips*/
/*+++++++++++++++++++++++++++++++++*/

.chip {
  height: 60px;
  /*  width: 300px;*/
  border-radius: 100px;
  margin: $margin-main;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1em;
}

.chip-img {
  height: 100%;
  border-radius: 100px;
  margin-right: 1em;
}

.chip-itm {
  margin-left: 1em;
}

.chip span {
  font-size: 12px
}


/*+++++++++++++++++++++++++++++++++*/
/*Cards*/
/*+++++++++++++++++++++++++++++++++*/

.card {
  min-height: $px-med;
  width: $mobile-fit;

  transition: 0.3s;
  border-radius: 5px;
  margin: $margin-main;
  @include flex(column);
  justify-content: space-between;
}

.bx-shdw {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

  .bx-shdw:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .blur-img {
    transition: all 200ms ease;
    /*  opacity: .5;*/
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
    cursor: pointer;
  }
    .card-img {
      width: 100%;
      border-radius: 5px 5px 0 0;
    }




      .card-info {
        flex-grow: 1;
        padding: 16px 16px;
        display: flex;
      }

/*Card Profile*/

.card-profile {
  max-width: 300px;
  min-height: 300px;
  padding: 10px;
  border-radius: 10px;
}

.card-profile-img {
  max-width: 100%;
  max-height: 300px;
  margin: auto;
  border-radius: 10px;
}

/*Card Profile Small*/

.card-p-sml-vert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  padding: 5px;
  border-radius: 10px;
  margin: 1em
}

.card-p-sml-img {
  border-radius: 10px;
  max-width: 200px;
}

.card-profile-sml {
  max-width: 200px;
  min-height: 200px;
  padding: 5px;
  border-radius: 10px;
  margin: 1em
}

.card-container {
  @include flex(column);
}

.staff-card {
  @include flex(row);
  justify-content: space-between;
  align-items: flex-start;
  min-width: 310px;

  > img {
    width: 90px;
  }

  figcaption {
    width: 200px;
    h2{
      font-size: 20px;
      margin: 0;
    }
    span {
      font-size: 12px;
    }

    .contact-container {

    }

    p {
      margin: 0;
      font-size: 15px;
    }
  }
}

@media screen and (min-width: 400px){
  .staff-card {
    min-width: 380px;

    > img {
      min-width: 100px;
      max-width: 300px;
      margin-right: 1em;
      flex-grow: 1;
    }

    figcaption {
      width: 250px;
      h2{
        font-size: 25px;
        margin: 0;
      }
      span {
        font-size: 13px;
      }

      .contact-container {

      }

      p {
        font-size: 15px;
        line-height: 130%;
      }
    }
  }
}

@media screen and (min-width: 600px){
  .staff-card {
    min-width: 460px;
    max-width: 480px;

    > img {
      min-width: 100px;
      max-width: 300px;
      margin-right: 1em;
      flex-grow: 1;
    }

    figcaption {

      h2{
        font-size: 28px;
        margin: 0;
      }
      span {
        font-size: 15px;
      }

      .contact-container {

      }

      p {

        padding: 10px;
        font-size: 17px;
        line-height: 130%;
      }
    }
  }
}

@media screen and (min-width: 900px){
  .card-container {
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 1100px;
  }
}





/*+++++++++++++++++++++++++++++++++*/
/*Thumbnails*/
/*+++++++++++++++++++++++++++++++++*/

/*item thumbnail*/

.it {
  margin-top: 2em;
  height: 100px;
  min-width: 300px;
  max-width: 320px;
  display: flex;
  justify-content: space-between;
}

.it-img {
  height: 100%;
/*  Width: 150px;*/
}

.it-info {
  padding: 10px;
  height: 100%;
/*  width: 150px;*/
}

@media screen and (min-width: 650px) {
  .it{
    margin-left: 1em;
  }
}

/*Horizontal Thumbnail*/

.ht {
/*  width: 100%;*/
  max-width: 323px;
  height: 90px;
  display: flex;
  flex-flow: row nowrap;
  margin-top: 1em;
}

/*Vertical Thumbnail*/

.vt {
  width: 180px;
  min-height: 300px;
  display: flex;
  flex-flow: column nowrap;
}

.vt-image {
  width: 180px;
}

/*thumbnail*/

.t-item {
  display: flex;
  flex-flow: column nowrap;
}

.t-sub-item {
  margin: 0;
}

.t-padding {
  padding: 10px
}
