/*+++++++++++++++++++++++++++++++++*/
/*Thumbnails*/
/*+++++++++++++++++++++++++++++++++*/

/*item thumbnail*/

.it {
  margin-top: 2em;
  height: 100px;
  min-width: 300px;
  max-width: 320px;
  display: flex;
  justify-content: space-between;
}

.it-img {
  height: 100%;
  /*  Width: 150px;*/
}

.it-info {
  padding: 10px;
  height: 100%;
  /*  width: 150px;*/
}

@media screen and (min-width: 650px) {
  .it{
    margin-left: 1em;
  }
}

/*Horizontal Thumbnail*/

.ht {
  /*  width: 100%;*/
  max-width: 323px;
  height: 90px;
  display: flex;
  flex-flow: row nowrap;
  margin-top: 1em;
}

/*Vertical Thumbnail*/

.vt {
  width: 180px;
  min-height: 300px;
  display: flex;
  flex-flow: column nowrap;
}

.vt-image {
  width: 180px;
}

/*thumbnail*/

.t-item {
  display: flex;
  flex-flow: column nowrap;
}

.t-sub-item {
  margin: 0;
}

.t-padding {
  padding: 10px
}
