* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

main {
  margin: 0;
  padding: 0;
}


//
//-- Variables
//

// Type

$head: Tahoma, Geneva, sans-serif;
$text: "Trebuchet MS", Helvetica, sans-serif;

// Break Points

$bp-1: 400px;

.upload--img {
  width: 300px;
}