.model--container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
  z-index: 10;
  display: none;
}
.model {
  max-width: 400px;
  padding: 1em;
  background-color: #EDEDED;
  margin: 3.5em auto;
  position: relative;
}
.model--close-container {
  position: absolute;
  top: .2em;
  right: .2em;
  background-color: #c96a6a;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease-in-out ;
  cursor: pointer;
  &:hover {
    background-color: #bd4444;
  }
}
.model--close {
  height: 5px;
  width: 45px;
  background-color: black;
  transform: rotate( 45deg);
  
  &::after {
    content: " ";
    height: 5px;
    width: 45px;
    background-color: black;
    display: block;
    transform: rotate( 90deg);
  }
}

.model--title {
  font-family: $head;
  text-align: center;
}
.model--figure {
  width: 100%;
  margin: 0;
}
.model--caption {
  
}
.model--sub-title {
  font-family: $head;
  text-align: center;
}
.model--img {
  width: 100%;
}
.model--feature-list-container {
  @include bp($bp-1) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: flex-start;
  }
  
}
.model--feature-list {
  margin: 1em auto;
  max-width: 9em;
  padding-left: .5em;
}
.model--feature-list-item {
  font-family: $text;
}
.model--btn {
  font-family: $text;
}