/*********************************************************/
/* Colors */
/*********************************************************/

// Variables

$flm: #E55812;
$yg: #95C623;
$djg: #0E4749;
$dg: #002626;
$eb: #5F634F;
$pc: #9BC4CB;
$sb: #3E7CB1;
$pt: #E6E8E6;
$egg: #EFE7DA;
$wht: #fff;
$ylw: #FFBF00;
$blk: #000;


.flm {
  background-color: $flm;
  color: white;
}

.yg {
  background-color: $yg;
  color: white;
}

.djg {
  background-color: $djg;
  color: white;
}

.dg {
  background-color: $dg;
  color: white;
}

.eb {
  background-color: $eb;
  color: white;
}

.pc {
  background-color: $pc;
  color: white;
}

.sb {
  background-color: $sb;
  color: white;
}

.pt {
  background-color: $pt;
  color: black;
}

.egg {
  background-color: $egg;
  color: black;
}

.wht {
  background-color: $wht;
  color: black;
}

.ylw {
  background-color: $ylw;
  color: black;
}

.blk {
  background-color: $blk;
  color: #FFF;
}

.t-flm {
  color: $flm;
}

.t-yg {
  color: $yg;
}

.t-djg {
  color: $djg;
}

.t-dg {
  color: $dg;
}

.t-eb {
  color: #5F634F;
}

.t-pc {
  color: #9BC4CB;
}

.t-sb {
  color: #3E7CB1;
}

.t-pt {
  color: #E6E8E6;
}

.t-egg {
  color: #EFE7DA;
}

.t-wht {
  color: #fff;
}

.t-blk {
  color: #000;
}
