/*********************************************************/
/* 6. Navigation */
/*********************************************************/


/*==========================*/
/*Simple Nav*/
/*==========================*/

/*********Mobile First**********/

.n-img {
  position: absolute;
  right: 1em;
  top: 0;
  height: 40px;
  width: 45px;
  cursor: pointer;
}

.n-bar {
  display: none;
  padding: 0 1em;
  list-style: none;
  margin-top: 20px;
}

/*n-bar-itm and n-bar a can be used in all navigations*/

.n-bar-itm {
  border-bottom: white 2px solid;
}

.n-bar-a {
  display: block;
  font-size: 18px;
  text-decoration: none;
  padding: 5px;
}

.n-b-a-g {
  display: block;
  color: black;
  font-size: 18px;
  text-decoration: none;
  padding: 5px;
}

/*********Tablet Second**********/

@media screen and (min-width: 650px){

  .n-simple {
    height: 100%;
  }

  .n-img {
    display: none;
  }


  .n-bar {
    float: right;
    display: block;
    margin: 0;
    padding: 0;
    height: 100%;
  }

  .n-bar-itm {
    display: inline-block;
    border: none;
    transition: all 500ms ease-in-out;
    margin: 0;
  }

  .n-bar-a {
    padding:.75em 1em;
    width: 100%;
    transition: all 500ms ease-in-out;
  }

  .n-b-a-g {
    padding:.75em 1em;
    width: 100%;
  }

  .n-bar-itm:hover, .n-bar-a:hover {
    background-color: white;
    color: black;
  }

}

/*==========================*/
/*Bottom Nav*/
/*==========================*/

/*********Mobile First**********/

.n-bottom {
  display: none;
}

.bn-img {
  height: 40px;
  width: 45px;
  cursor: pointer;
}

.bn-bar {
  padding: 0 1em;
  list-style: none;
  margin: 0;
}

/*********Tablet Second**********/

@media screen and (min-width: 650px){
  .n-bottom {
    display: block;
    text-align: center;
  }
  .bn-img {
    display: none;
  }
}




/*==========================*/
/*Menu Nav*/
/*==========================*/

/*********Mobile First**********/

.n-menu{

}

  .nm-bar {
    display: none;
    padding: 1em;
    list-style: none;
    margin: 0;
  }

    .nm-bar-itm {
      margin-bottom: 1em;
      border-bottom: 2px solid rgba(0,0,0,.5);
    }

    .nm-bar-a{
      display: block;
      height: 30px;
      display: flex;
/*      width: 6em;*/
      align-items: center;
      justify-content: space-around
    }

      .nm-txt{

      }

.n-menu-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 8px 0 8px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  max-width: 77px;
  cursor: pointer;
  transition: all 700ms ease;
}

.n-menu-btn:hover {
  background-color: blue;
}

  .n-menu-img {
    height: 20px;
    width: 28px
  }

  .n-menu-name {
    font-size: 12px;
    margin-right: 3px;
  }

@media screen and (min-width: 450px){
  .n-menu-btn {
    padding: 0 12px;
    max-width: 100px;
  }
  .n-menu-img {
    height: 30px;
    width: 33.3px;
  }
  .n-menu-name {
    font-size: 16px;
  }
}

@media screen and (min-width: 1000px){
  .head-wrap {
    height: 100vh;
    width: 210px;
    display: flex;
    flex-flow: column nowrap;
/*    position: fixed;*/
  }


  .n-menu {
/*    position: fixed;*/
/*    width: 20%;*/
    height: 100vh;
/*    flex-grow: 3;*/
    display: flex;
  }

  .nm-bar {
    display: block;
    width: 100%;
  }

  .nm-bar-itm {
    margin-bottom: 1em;
    border-bottom: none;
    height: auto;
  }

  .nm-bar-a {
    transition: all 300ms ease;
    display: block;
    height: auto;
  }

 .nm-bar-a{
    display: flex;
  }

  .nm-txt {
    transition: all 1000ms ease;
    display: inline-block;
    margin-right: 2em;
    font-size: 20px;
  }

  .n-menu-btn{
    display: none;
  }
}
